---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import PostCard from '../components/PostCard.astro';
const allPosts = await getCollection('posts');
const allPostsSorted = allPosts.sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);
const title = 'Tobias Ziegler | Blog';
---

<BaseLayout title={title}>
  <div class="flex flex-col space-y-4">
    <h2 class="font-semibold text-lg mb-4">Posts</h2>
    {
      allPostsSorted.map((post) => (
        <PostCard
          author={post.data.author}
          title={post.data.title}
          date={post.data.pubDate}
          tags={post.data.tags}
          href={`/posts/${post.slug}`}
          timeToRead={post.data.timeToRead}
        />
      ))
    }
  </div>
</BaseLayout>
