---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import ContactButton from '../components/ContactButton.astro';

interface Project {
  title: string;
  technologies: string[];
  href: string;
  tab: boolean;
}

const projects: Project[] = [
  {
    title: 'Mood Palette',
    technologies: ['Next.js', 'GPT'],
    href: 'https://mood-palette.netlify.app/',
    tab: true,
  },
  {
    title: 'Blog',
    technologies: ['Astro', 'MDX', 'Tailwind'],
    href: '/blog',
    tab: false,
  },
];
---

<Layout
  title="Tobias Ziegler | Software-Entwickler mit 4 Jahren Web-Erfahrung"
  description="Software-Entwickler mit 4 Jahren Web-Erfahrung. Derzeit arbeite ich mit React und TypeScript."
  canonical="https://www.tobiasziegler.dev/"
>
  <div class="flex flex-col justify-center space-y-8">
    <h1 class="text-6xl font-extrabold tracking-tight">Tobias Ziegler</h1>
    <h2 class="text-xl leading-8 font-normal max-w-md">
      <span
        class="text-transparent bg-clip-text bg-gradient-to-r from-indigo-400 via-violet-400 to-pink-400"
        >Software-Entwickler mit 4 Jahren Web-Erfahrung.</span
      > Derzeit arbeite ich mit React und TypeScript.
    </h2>
    <ContactButton content="Kontaktieren 👋" />
  </div>
  <div class="flex flex-col space-y-4">
    <h2 class="font-semibold text-lg mb-4">
      Ausgewählte Projekte ({projects.length})
    </h2>
    {
      projects.map((project) => (
        <Card
          title={project.title}
          technologies={project.technologies}
          href={project.href}
          tab={project.tab}
        />
      ))
    }
  </div>
</Layout>
