---
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';
import ContactButton from '../components/ContactButton.astro';
import GitHubButton from '../components/GitHubButton.astro';

interface Project {
  title: string;
  technologies: string[];
  href: string;
  tab: boolean;
}

const projects: Project[] = [
  {
    title: 'Mood Palette',
    technologies: ['Next.js', 'GPT'],
    href: 'https://mood-palette.netlify.app/',
    tab: true,
  },
  {
    title: 'Blog',
    technologies: ['Astro', 'Markdown', 'Tailwind'],
    href: '/blog',
    tab: false,
  },
];
const title = 'Tobias Ziegler | Software-Entwickler mit 4 Jahren Web-Erfahrung';
const description =
  'Software-Entwickler mit 4 Jahren Web-Erfahrung. Derzeit arbeite ich mit React und TypeScript.';
const canonical = 'https://www.tobiasziegler.dev/';
---

<BaseLayout title={title} description={description} canonical={canonical}>
  <div class="flex flex-col justify-center space-y-8">
    <h1 class="text-6xl font-extrabold tracking-tight">Tobias Ziegler</h1>
    <h2 class="text-xl leading-8 font-normal max-w-md">
      <span
        class="text-transparent bg-clip-text bg-gradient-to-r from-indigo-400 via-violet-400 to-pink-400"
        >Software-Entwickler mit 4 Jahren Web-Erfahrung.</span
      > Derzeit arbeite ich mit React und TypeScript.
    </h2>
    <div class="flex space-x-4">
      <ContactButton content="Kontaktieren 👋" />
      <GitHubButton content="GitHub 👨🏼‍💻" />
    </div>
  </div>
  <div class="flex flex-col space-y-4">
    <h2 class="font-semibold text-lg mb-4">
      Ausgewählte Projekte ({projects.length})
    </h2>
    {
      projects.map((project) => (
        <Card
          title={project.title}
          technologies={project.technologies}
          href={project.href}
          tab={project.tab}
        />
      ))
    }
  </div>
</BaseLayout>
