---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import ContactButton from '../components/ContactButton.astro';
import GitHubButton from '../components/GitHubButton.astro';
import PostCard from '../components/PostCard.astro';
import { getCollection } from 'astro:content';
import profileImage from '../assets/profile.webp';

interface Project {
  title: string;
  technologies: string[];
  href: string;
  tab: boolean;
}

const projects: Project[] = [
  {
    title: 'Mood Palette',
    technologies: ['Next.js', 'GPT'],
    href: 'https://mood-palette.netlify.app/',
    tab: true,
  },
  {
    title: 'Blog',
    technologies: ['Astro', 'Markdown', 'Tailwind'],
    href: '/blog',
    tab: false,
  },
];

const allPosts = await getCollection('posts');
const recentPosts = allPosts
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
  .slice(0, 3);

const title = 'Tobias Ziegler | Software-Entwickler mit 4 Jahren Web-Erfahrung';
const description =
  'Software-Entwickler mit 4 Jahren Web-Erfahrung. Derzeit arbeite ich mit React und TypeScript.';
const canonical = 'https://www.tobiasziegler.dev/';
---

<BaseLayout title={title} description={description} canonical={canonical}>
  <div class="flex flex-col md:flex-row items-center md:space-x-4">
    <div class="flex flex-col justify-center space-y-8">
      <h1 class="text-6xl font-extrabold tracking-tight">Tobias Ziegler</h1>
      <h2 class="text-xl leading-8 font-normal max-w-md">
        <span
          class="text-transparent bg-clip-text bg-gradient-to-r from-indigo-400 via-violet-400 to-pink-400"
          >Software-Entwickler mit 4 Jahren Web-Erfahrung.</span
        > Derzeit arbeite ich mit React und TypeScript.
      </h2>
      <div class="flex space-x-4">
        <ContactButton content="Kontaktieren 👋" />
        <GitHubButton content="GitHub 👨🏼‍💻" />
      </div>
    </div>
    <div class="pt-16 md:p-16">
      <img
        class="rounded-lg max-h-[600px] md:max-h-[700px] object-cover"
        width="450"
        height="700"
        src={profileImage.src}
        alt="Tobias Ziegler Profilbild"
      />
    </div>
  </div>
  <div class="flex flex-col space-y-4">
    <div class="flex justify-between items-center mb-4">
      <h2 class="font-semibold text-lg">Neueste Posts</h2>
      <a
        class="underline decoration-dashed text-slate-400 text-sm hover:text-white"
        href="/blog">Alle Posts</a
      >
    </div>
    {
      recentPosts.map((post) => (
        <PostCard
          title={post.data.title}
          date={post.data.pubDate}
          description={post.data.description}
          tags={post.data.tags}
          href={`/posts/${post.slug}`}
        />
      ))
    }
  </div>
  <div class="flex flex-col space-y-4">
    <h2 class="font-semibold text-lg mb-4">
      Ausgewählte Projekte ({projects.length})
    </h2>
    {
      projects.map((project) => (
        <ProjectCard
          title={project.title}
          technologies={project.technologies}
          href={project.href}
          tab={project.tab}
        />
      ))
    }
  </div>
</BaseLayout>
