---
import { Image } from 'astro:assets';
import { getFormattedDate } from '../shared/util';
import BaseLayout from './BaseLayout.astro';
import PostInfo from '../components/PostInfo.astro';
const { frontmatter } = Astro.props;
const formattedDate = getFormattedDate(frontmatter.pubDate);
---

<BaseLayout title={frontmatter.title}>
  <div class="space-y-8">
    <PostInfo author={frontmatter.author} formattedDate={formattedDate} />
    <div class="space-y-2">
      <h1 class="text-2xl font-extrabold">{frontmatter.title}</h1>
      <Image
        class="rounded-lg max-h-[300px] object-cover"
        src={frontmatter.bannerImage.src}
        alt={frontmatter.bannerImage.alt}
        width={1000}
        height={300}
      />
    </div>
    <slot />
  </div>
</BaseLayout>
