---
import { getFormattedDate } from '../shared/util';
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
const formattedDate = getFormattedDate(frontmatter.pubDate);
---

<BaseLayout title={frontmatter.title}>
  <img
    class="rounded-lg w-full h-[300px] object-cover"
    src={frontmatter.bannerImage.src}
    alt={frontmatter.bannerImage.alt}
  />
  <div class="space-y-4">
    <div class="text-sm">
      <p class="font-semibold">{frontmatter.author}</p>
      <div class="flex items-center space-x-2">
        <p class="text-slate-400">{formattedDate}</p><span>/</span><p
          class="text-slate-400"
        >
          {frontmatter.timeToRead} ⏳
        </p>
      </div>
    </div>
    <h1 class="text-6xl font-extrabold">{frontmatter.title}</h1>
    <div class="flex items-center space-x-1 text-slate-400">
      {
        frontmatter.tags.map((tag) => (
          <>
            <span class="text-violet-500">#</span>
            <span>{tag}</span>
          </>
        ))
      }
    </div>
    <slot />
  </div>
</BaseLayout>
